@keyframes move-building {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200% 0; /* Adjust to ensure smooth movement */
    }
}

#building {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden;
}

#building::before {
    content: ''; /* Required for pseudo-element to work */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%; /* Double the width for seamless animation */
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("../../../assets/Home/buildings.png");
    animation: move-building 30s linear infinite;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    #building::before {
        width: 100%;
        background-size: 300%; /* Make the image larger to fit smaller screens */
        animation-duration: 20s; /* Make animation a bit faster on small screens */
    }
    #building {
        width: 100%;
    }

    #an img{
        position: absolute;
        top: 70%;
        width: 80%;
    }
}
